.accomplishements {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center; 
  column-gap: 1em;
  width: 100%;
  margin: 1em 0 1em 0;
}

.number-1, .number-2, .number-3, .number-4 {
  font-size: 1.3em;
  font-weight: bold;
  color: #F46258;
  text-wrap: nowrap;
}

.matter {
  font-size: 0.8em;
  font-weight: 400;
  flex-wrap: wrap;
  color: #1E1E28;
  text-align: left;
}

.accomplishment {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: .6em;
  line-height: 14px;
}


