.picture-center {
  width: 100%;
  min-height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 2em;
  position: relative;
}

.picture-center-top {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}

.slogan {
  font-size: 3rem;
  color: white;
  font-family: poppins, sans-serif;
  margin: 0px;
  position: absolute;
  left: 2em;
  text-align: center;
}

.marlon-picture {
  height: 90%;
  position: absolute;
  bottom: 0;
  right: 1em;
}





