.sidebar-left{
  max-width: 290px;
  height: 100%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  z-index: 999;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  transition: left 0.3s ease-in-out;
  flex-shrink: 0;
  overflow: auto;
}

.sidebar-left.open {
  width: 290px;
  height: 100%; 
  top: 0;
  left: 0;
  position: absolute;
  display: flex;
}


@media screen and (max-width: 1200px) {
  .sidebar-left {
    left: -100%;
    position: absolute;
  }
}

@media screen and (max-height: 1080px) {
  .sidebar-left::-webkit-scrollbar {
    display: none;
  }
}

.profile-box{
  width: 100%;
  height: 290px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1em 0 1em 0;
}

.left-profile-picture {
  height: 6em;
  width: 6em;
  object-fit: cover;
  border-radius: 50%;
}

.my-description {
  text-align: center;
  margin: 0;
  font-size: 0.9em;
  color: #8C8C8E;
}

.name {
  margin: 1em;
  font-weight: bold;
}

.content-box {
  background-color: #F4F4F6;
  display: flex;
  align-items: start;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  padding: 1em 2em;
}

.general-fact-section {
  font-size: 0.8em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.general-fact-section p{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.6em;
}

.general-fact-section span {
  color:#8C8C8E;
}


.about-me-section {
  text-align: start;
}

.about-me {
  font-size: 0.9em;
  font-weight: 400;
  margin: 0;
}

.about-me-text {
  color: #8C8C8E;
  font-size: .7em;
  margin: 1em 0 0 0;
}

.benefit-section {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.tick {
  height: .6em;
  margin-right: 1em;
}

.benefit-1, .benefit-2, .benefit-3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 0.8em;
  color: #8C8C8E;
}

.benefit-description {
  margin-left: 0.5em;
  margin: 0.2em;

}

.language-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  font-size: .8em;
}

.language{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.progress-1, .progress-2, .progress-3  {
  height: 4em;
  width: 4em;
  background: conic-gradient(#F46258, 3.6deg, #c2c9d6 0deg);
  border-radius: 50%; 
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.progress-1:before {
  content: "";
  height: 3.4em;
  width: 3.4em;
  border-radius: 50%;
  background-color: #F4F4F6;
}
.progress-2:before {
  content: "";
  height: 3.4em;
  width: 3.4em;
  border-radius: 50%;
  background-color: #F4F4F6;
}
.progress-3:before {
  content: "";
  height: 3.4em;
  width: 3.4em;
  border-radius: 50%;
  background-color: #F4F4F6;
}


.value-1, .value-2, .value-3 {
  font-size: 1em;
  color: #8C8C8E;
  position: absolute;
}

.pb-1, .pb2, .pb3 {
  display: flex;
  align-items: center;
  justify-content: center;
}


.line-1, .line-2, .line-3 {
  height: 0.04em;
  width: 100%;
  background-color: #8C8C8E;
  margin: 2em 0;
}

.language-name {
  margin: 0.3em 0 0 0;
}

@media only screen and (max-height: 717px) {
  .content-box {
    justify-content: start;
    gap: 0;
    padding: 0em 1em;
  }

  .line-1, .line-2, .line-3 {
    margin: 0.6em;
  }
}