.contact-formular {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  height: 46vh;
  background-color: white;
  margin-top: 1em;
  padding: 1em 2em;
}

.name-box, .email-box, .message-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  position: relative;
  margin: 1em 0;
}

.icon {
  height: 0.8em;
}

.name-box, .email-box {
  height: 3em;
  background-color: #F4F4F6;
}

.message-box {
  height: 8em;
  background-color: #F4F4F6;
}

.email-icon, .name-icon {
  width: 50px;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.message-input, .name-input, .email-input {
  height: 100%;
  width: 100%;
  background-color: #F4F4F6;
  border: none;
  box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.1);
  text-align: left;
  box-sizing: border-box;
  display: flex;
  justify-content: start;
  padding: 0.8em;
  border-radius: 0px;
}

.message-icon {
  width: 50px;
  height: 100%;
  display: flex;
  padding-top: 2em;
  align-items: center;
  flex-direction: column;
}

.send {
  width: 8em;
  height: 3em;
  border: none;
  background-color: #F46258;
  color: #1E1E28;
  font-size: 1em;
  font-weight: bold;
  margin: 1em 0;
  cursor: pointer;
}

.placeholder-1, .placeholder-2 {
  position: absolute;
  left: 6em;
  font-size: 0.6em;
  font-weight: 400;
  color:#8C8C8E;
  margin: 0;
}

.placeholder-3 {
  position: absolute;
  left: 6em;
  font-size: 0.6em;
  font-weight: 400;
  color:#8C8C8E;
  top: 1.5em;
  margin: 0;
}

.message-input{
  padding: 1em 0 0 .8em;
}





