html, body {
  background-color: #E0E0E6;
  font-family: poppins, sans-serif;
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: initial;
}

a:hover {
  cursor: pointer;
}


.body {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-size: 16px;
  padding-bottom: env(safe-area-inset-bottom);
  padding-top: env(safe-area-inset-top);
}

.user-interface {
  width: clamp(325px, 70vw, 86vw);
  height: 100vh;
  min-width: 325px;
  font-family: Poppins, sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  box-sizing: border-box;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  padding: 1em 0em;
}


.top-bar {
  top: 0;
}

.top-bar, .bottom-bar {
  height: 2vh;
  width: 100%;
  background-color: #E0E0E6;
  position: absolute;
  left: 0;
  z-index: 999;
}

.bottom-bar {
  bottom: 0;
}