@media only screen and (max-width: 1200px) {
  .sidebar-top {
    display: flex;
    justify-content: start;
  }

  .center-column {
    padding: 0 1em;
  }

  .sidebar-right {
    display: none;
  }

  .user-interface {
    flex-direction: column;
    width: 100vw;
    padding: 0;
  }

  body {
    padding: 0;
  }

  .bottom-bar, .top-bar {
    display: none;
  }

  .contact-formular {
    width: 90vw;
  }

  .picture-center {
    margin: 0;
  }

  .service-frame {
    grid-template-columns: repeat(2, 1fr);
  }

  .sidebar-left {
    left: -100%;
    position: absolute;
  }
}

@media only screen and (max-width: 1480px) {
  .accomplishements {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    left: 2em;
    right: 2em;
    justify-content: center;
  }

  .heading-container {
    justify-content: center;
  }

  .service-frame {
    grid-template-columns: repeat(1, 1fr);
    column-gap: 1em;
    row-gap: 1em;
  }

  .footer {
    grid-row: initial;
  }
}

@media only screen and (max-width: 625px) {
  .accomplishment {
    text-wrap: wrap;
  }
  .accomplishements {
    gap: 0;
  }
  .name-box, .email-box, .message-box {
    margin: 0.4em 0;
  }
  .contact-formular {
    padding: 1em 1em;
  }
}




@media only screen and (max-width: 1870px) {
  .marlon-picture {
    display: none;
  }
  .slogan {
    position: static;
  }
}



@media only screen and (max-width: 560px) {
  .slogan {
    font-size: 2rem;
  }
  .mail {
    display: none;
  }
  .contact-formular {
    height: 74vh;
    align-items: center;
  }
  .message-box {
    height: 20em;
  }
  .header-container {
    justify-content: center;
  }
  .matter {
    font-size: 0.6em;
  }
  .number-1, .number-2, .number-3, .number-4 {
    font-size: 1em;
  }
}


@media only screen and (max-width: 800px) {
  .service-frame {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media only screen and (max-height: 720px) {
  .line-1, .line-2, .line-3 {
    margin: 1.2em;
  }
}

@media only screen and (max-height: 610px) {
  .line-1, .line-2, .line-3 {
    margin: 1em;
  }

  .footer-contact {
    height: 3em;
  }
}
